
<!-- Header Component -->
<app-header></app-header>

<!-- Hero Section -->
<app-hero></app-hero>

<!-- Services Section -->
<app-services></app-services>

<!-- About Section -->
<app-about></app-about>

<!-- Contact Section -->
<app-contact></app-contact>

<!-- Footer -->
<footer class="bg-dark text-light py-4">
  <div class="container">
    <div class="row">
      <div class="col-md-6">
        <h5><b> <i>The Live Your Best Life </i>  </b></h5>
        <p> Take care of your body, it’s the only place you have to live </p>
      </div>
      <div class="col-md-6 text-md-end">
        <p>&copy; JEENAL THAKKAR</p>
        <div>
          <a href="https://www.instagram.com/lifewithjeenal?igsh=MTB4OXhpb2IwdXRtZg%3D%3D&utm_source=qr" target="_blank" rel="noopener noreferrer" class="ms-3 text-light"><i class="fab fa-instagram fa-lg"></i></a>
          <a href="https://www.facebook.com/share/16rTeZijE4/?mibextid=wwXIfr" target="_blank" rel="noopener noreferrer" class="ms-2 text-light"><i class="fab fa-facebook fa-lg"></i></a>
        </div>
      </div>
    </div>
  </div>
</footer>

<router-outlet />
